html, body, h1, h2, h3, h4, h5, h6, ol, dl, dt, dd, div, span, img, a, table, tr, th, td, article, figure, p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

*{
  box-sizing: border-box;
}

.cols .col:first-child{
  margin-left: 0
}

.cols:after{
  content:"";
  display: block;
  clear: both;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}

.header{
  background-color: #212529;
  color: white;
}

.logo {
  font-size: 1.5em;
  padding-top:15px;
  padding-bottom: 15px;
  font-weight: 900;
  float: left;
}

.menu {
  font-weight: 500;
}

.menu ul{
  float: right;
  list-style: none;
}

.menu li{
  display:inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.menu a{
  text-decoration: none;
}

.menu a:visited {
  color: white;
}

#menubtn {
  display: none;
}

.top {
  background-image: url(top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  opacity: 0.9;
}

.top h1 {
  text-align: center;
  color: white;
  font-size: 55px;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 50px;
}

.top h2 {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  padding-top: 120px;
}

.about {
  color: #212529;
  background-color: #f8f8f8;
  text-align: center;
}

.about img {
  width: 300px;
  border-radius: 20px;
}

.about a{
  text-decoration: none;
}

.about a:visited {
  color: #212529;
}

.col .pic {
  text-align: center;

}

.pic {
  font-size: 1.5em;
}

.about .pic {
  float: left;
  width: 45%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about .hystry{
  float: left;
  width: 55%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hystry {
  text-align: left;
  font-size: 18px;
}
