
@media all and (max-width: 1020px) {
  .container {
    max-width: 1020px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .top-wrapper h1{
    color: white;
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: 300;
  }

  .top-wrapper h5 {
    color: white;
    font-size: 12px;
    font-weight: 300;
    padding-top: 250px;
  }

  .top-wrapper h6 {
    color: white;
    font-size: 8px;
    font-weight: 300;
    text-align: right;
    padding-top:100px;

  }
}

@media all and (max-width: 670px) {

.message-list li{
  font-size: 10px;
}

.container ul {
 padding-left: 20px;
 position: absolute;
 top: 0px;
 left: 250px;
}

}

@media all and (max-width: 500px) {

img {
  display: none;
}

.top-wrapper {
  padding: 100px 0 20px 0;
  opacity:0.9;
  height: 45vh;
  width: 100vw;
}

.top-wrapper h1{
font-size: 20px;
}

.top-wrapper h5 {
  color: white;
  font-size: 6px;
  font-weight: 300;
  padding-top: 20px;
}

.top-wrapper h6 {
  color: white;
  font-size: 6px;
  font-weight: 300;
  text-align: right;
  padding-top:40px;
}

.container i {
  display: block;
}

.header a {
  display: none;
}


.message-wrapper {
  height: 300px;
  background: rgba(36,20,14,0.7);
}

.container h3 {
  color: #f39800;
  font-size: 20px;
  padding-top: 20px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 10px;
}

.container ul {
text-align: center
position: relative;
top: 0px;
left: 20px;
margin-top:40px;
}

.message-wrapper li {
  color: white;
  font-size: 8px;
  margin-bottom: 2px;
}

.twitter {
  font-size: 12px;
  text-align: center;
  padding: 0;
  margin: 0 0 0 0;

}

.twitter i {
  font-size: 12px;
  float: none;
  display: inline-block;

}

}
