/* タブレット向けレイアウト */
@media screen and (max-width: 959px){
.container {
  max-width: 550px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}

.top{
  height:350px;
}

.top h1 {
  font-size: 40px;
  padding-top: 40px;
}

.top h2 {
  font-size: 12px;
  padding-top: 100px;
}

.top h2 br{
  display: none;
}

.about img {
  width: 200px;
  border-radius: 20px;
}

.about .pic {
  font-size: 1.5em;
  width:35%;
}

.about .hystry {
  text-align: left;
  font-size: 12px;
  width:65%;
}


}

/* スマホ向けレイアウト */
@media screen and (max-width: 559px){
  .container {
    max-width: 340px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
  }

  .menu{
    display: none;
    float:left;
  }

  .menu li{
    display:inline-block;
  }

  #menubtn{
    display: block;
    float:right;
    font-size: 20px;
    margin-top: 14.5px;
  }

 .top{
   height:300px;
 }

  .top h1 {
    font-size: 30px;
    padding-top: 30px;
  }

  .top h2 {
    font-size: 14px;
    padding-top: 80px;
  }

  .top h2 br{
    display: none;
  }

  .about .pic {
    font-size: 1em;
    width:100%;
    margin: 25px 0 5px 0;
  }

  .about .hystry {
    text-align: left;
    font-size: 10px;
    width:100%;
    margin: 0;
  }

}
